@import './variableIndex';
@import './baseIndex';
.footer {
    background-color: $bg-success;
    padding: 50px 0 0;
    .footer-services {
        .container {
            max-width: 80vw;
            .row {
                border-bottom: 1px solid #999999;
                padding: 30px 0;
                .col {
                    position: relative;
                    .single-service {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .service-icon {
                            img {
                                max-width: 100%;
                                height: auto;
                            }
                        }
                        .serivce-cont {
                            margin-left: 10px;
                            h3 {
                                margin: 0;
                                line-height: 20px;
                                @include mText($text-base, $fw-700, $text-primary-100);
                            }
                            p {
                                margin: 0;
                                @include mText($text-small, $fw-normal, $text-primary-100);
                            }
                        }
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        width: 1px;
                        height: 100%;
                        background-color: $bg-primary-100;
                        right: 10px;
                        top: 0;
                    }
                }
                .col:nth-child(5)::after {
                    background-color: transparent;
                }
            }
        }
    }
    .footer-top {
        padding: 80px 0;
        .container {
            max-width: 80vw;
            .row {
                .col-4 {
                    padding: 0;
                    .about-us-footer {
                        .footer-logo {
                            a {
                                img {
                                    width: 200px;
                                    // height: 100px;
                                }
                            }
                        }
                        .footer-info {
                            .phone {
                                background: rgba(0, 0, 0, 0) url(../img/phone.png) no-repeat scroll left center;
                                color: #ffffff;
                                font-size: 24px;
                                font-weight: 500;
                                line-height: 48px;
                                padding-left: 60px;
                            }
                            .desc_footer {
                                color: #ffffff;
                                font-size: 14px;
                                line-height: 24px;
                                margin-bottom: 20px;
                            }
                            .social_follow {
                                ul {
                                    list-style: outside none none;
                                    margin: 0;
                                    padding: 0;
                                    li {
                                        display: inline-block;
                                        a {
                                            background: #373b41 none repeat scroll 0 0;
                                            border-radius: 100%;
                                            cursor: pointer;
                                            display: inline-block;
                                            height: 40px;
                                            line-height: 40px;
                                            margin: 0 8px 0 0;
                                            text-align: center;
                                            width: 40px;
                                            color: #fff;
                                            -webkit-transition: all 0.3s ease-in-out;
                                            transition: all 0.3s ease-in-out;
                                            &:hover {
                                                background: #333333 !important;
                                            }
                                        }
                                    }
                                    li.facebook a {
                                        background: #3c5b9b;
                                    }
                                    li.twitter a {
                                        background: #1aaed9;
                                    }
                                    li.youtube a {
                                        background: #d82114;
                                    }
                                    li.google a {
                                        background: #eb3e32;
                                    }
                                    li.instagram a {
                                        background: #8a7763;
                                    }
                                }
                            }
                        }
                    }
                }
                .col-lg-8 {
                    margin: auto 0;
                    .footer-info-inner {
                        .row {
                            .col-lg-2 {
                                .footer-title {
                                    h3 {
                                        color: #ffffff;
                                        display: block;
                                        font-size: 14px;
                                        font-weight: 500;
                                        margin: 0 0 15px;
                                        position: relative;
                                        text-transform: uppercase;
                                    }
                                }
                                ul {
                                    list-style: outside none none;
                                    margin: 0;
                                    padding: 0;
                                    li {
                                        border: 0 none;
                                        display: block;
                                        margin: 0 0 12px;
                                        padding: 0;
                                        a {
                                            text-decoration: none;
                                            color: #ddd;
                                            display: inline-block;
                                            font-size: 14px;
                                            font-weight: 400;
                                            position: relative;
                                            text-transform: capitalize;
                                            -webkit-transition: all 300ms ease-in 0s;
                                            transition: all 300ms ease-in 0s;
                                            &:hover {
                                                color: #eb3e32;
                                            }
                                        }
                                    }
                                }
                            }
                            .col-lg-5 {
                                .footer-title {
                                    h3 {
                                        color: #ffffff;
                                        display: block;
                                        font-size: 14px;
                                        font-weight: 500;
                                        margin: 0 0 15px;
                                        position: relative;
                                        text-transform: uppercase;
                                    }
                                }
                                .block-contact-text {
                                    p {
                                        color: #ddd;
                                        font-size: 14px;
                                        line-height: 24px;
                                        margin: 0 0 5px;
                                    }
                                }
                                .time {
                                    h3 {
                                        color: #ffffff;
                                        display: block;
                                        font-size: 14px;
                                        font-weight: 500;
                                        margin: 20px 0 15px;
                                        position: relative;
                                        text-transform: uppercase;
                                    }
                                    .time-text {
                                        p {
                                            color: #ddd;
                                            margin-bottom: 0;
                                            font-size: 14px;
                                            line-height: 24px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .footer-bottom {
        .container-fluid {
            padding: 50px 100px;
            border-top: 1px solid $bg-primary-200;
            .row {
                .col-lg-6 {
                    .copyright {
                        color: #ddd;
                        margin: 4px 0 0 0;
                    }
                    .payment {
                        float: right;
                    }
                }
            }
        }
    }
}