@import "./variableIndex";
@import "./baseIndex";
.header {
    background: rgb(189, 110, 113);
    background: linear-gradient(
        79deg,
        rgba(189, 110, 113, 1) 20%,
        rgba(205, 114, 93, 1) 60%,
        rgba(184, 65, 38, 1) 92%,
        rgba(163, 72, 51, 1) 100%
    );
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .menu {
            width: 60%;
            padding: 20px 0;
            ul {
                margin: 0;
                li {
                    list-style: none;
                    display: inline;
                    padding: 0 10px;
                    a {
                        text-decoration: none;
                        margin: 0 15px;
                        @include mTextHover($text-small, $fw-semi, $text-primary-100, $text-primary-300);
                        position: relative;
                        &::after {
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 3px;
                            background-color: $bg-primary-300;
                            bottom: -10px;
                            left: 0;
                            // border-radius: 50%;
                            transition: all 0.5s;
                            transform: scale(0, 0);
                        }
                        &:hover {
                            &::after {
                                transform: scale(1, 1);
                                transition: all 0.5s;
                            }
                        }
                    }
                }
            }
        }
        .header-right {
            width: 40%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .search {
                // width: 60%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-left: 20px;
                .search-input {
                    position: relative;
                    input {
                        &::placeholder {
                            color: $text-primary-100;
                        }
                        position: relative;
                        outline: none;
                        padding: 10px 10px 10px 30px;
                        width: 100%;
                        background: transparent;
                        border: 1px solid rgba(0, 0, 0, 0.2);
                        border-radius: 50px;
                        transition: all 0.5s;
                        color: white;
                        @include mInputHover(rgba(0, 0, 0, 0.5));
                    }
                    i {
                        position: absolute;
                        top: 10px;
                        left: 10px;
                        line-height: 25px;
                    }
                }
                .cart {
                    a {
                        @extend .ms-2;
                        @include mTextHover($text-2xl, $fw-semi, $text-primary-100, $text-primary-300);
                        i {
                        }
                    }
                }
            }
            .user {
                // width: 40%;
                a {
                    text-decoration: none;
                    @include mButton(
                        $text-base,
                        $fw-semi,
                        $text-primary-100,
                        10px 10px,
                        2px solid $bg-primary-100,
                        10px,
                        $bg-primary-100,
                        $text-primary-300
                    );
                }
            }
        }
    }
}